<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>fruit picker | home</title>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@400;800&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="app">
        <h1 class="title">FRUIT PICKER</h1>
        <a class="nav" href="/">Home</a>
        {{{body}}}
    </div>
</body>

</html>