* {
    font-family: 'Alata', sans-serif;
    background-color: #007b00;
    color: #ff8b76;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .form-item {
    padding-top: 20px;
  }


.fruit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.fruit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 280px;
    height: 280px;
}

.img-circle:hover,
.img-circle:focus {
    position: relative;
    top: -5px;
    left: -15px;
    width: 290px;
    height: 290px;
    display:block;
    z-index:999;
}

.title {
    font-size: 80px;
    letter-spacing: 4px;
}

.nav {
    text-decoration: none;
    font-size: 30px;
    color: #ffcc51;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.nav:hover,
.nav:focus  {
    color: #24e0b8;
}

.info {
    margin-bottom: 10px;
    font-size: 25px;
    width: 60%;
}

.info2 {
    margin-top: 20px;
}

.info__highlight {
    text-transform: uppercase;
}

.highlight {
    color: #ff3031;
}

.edit {
    text-transform: uppercase;
    color: #ffcc51;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
}

.edit:hover,
.edit:focus {
    color: #24e0b8;
}

.name {
    color: #ff3031;
    font-size: 40px;
}